/*================================================================================

	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template

	Version: 2.0

	Author: PIXINVENT

	Author URL: http://www.themeforest.net/user/pixinvent

================================================================================



NOTE:

------

PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.

WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */



/* ============== Start of Login CSS ================ */



.img-fluid {

  width: 100%;

  height: 625px;

overflow: hidden;

object-fit: cover;

}

.row{
  padding-bottom: -50px;
}

.label-2 {

  color: #D3D3D3;

}



#div-img-login {

background-color: rgba(44, 44, 44, 0.467); 
box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8); 

}



#carousel-login {

background-color: #3d5249; 



}



#login-email, #login-password1{

box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

}



/* ============ End of Login CSS ================= */





/* ============ Custom Sidebar CSS ================= */



.main-menu.menu-dark {

  color: #DCDCDC;

  background: #3d5249;

  box-shadow: 1px 1px 10px rgba(0, 0, 0.5, 2); 

}



.main-menu.menu-dark .navigation {

  color: #DCDCDC;

  background: #3d5249;

}

.main-menu.menu-dark .navigation > li.active > a {

background : linear-gradient(47deg, #ceae99, #ceae99);

box-shadow : 0 0 8px 1px rgba(0,0,0, 0.5);

color : #FFFFFF;

font-weight : 400;

border-radius : 4px;

}



.main-menu.menu-dark .navigation > li.open:not(.menu-item-closing) > a, .main-menu.menu-dark .navigation > li.sidebar-group-active > a {

  background: #2a220c;

}



.semi-dark-layout .main-menu-content .navigation-main .nav-item .menu-content {

  background-color:  #3d5249;

}



.semi-dark-layout .main-menu-content .navigation-main .nav-item .menu-content li:not(.active) a {

  background-color: #3d5249;

}



.semi-dark-layout .main-menu-content .navigation-main .sidebar-group-active .menu-content .active a {

  background : linear-gradient(47deg, #ceae99, #ceae99);

  box-shadow : 0 0 8px 1px rgba(0,0,0, 0.5);

  color : #FFFFFF;

  font-weight : 400;

  border-radius : 4px;

}



/* ============ End of Sidebar CSS ================= */





.card-congratulations {

  background-color: #29539b;

background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);

  color: #fff;

}





a {

  color: #747474;

}



a:hover {

  color: #747474;

}







/* ============ Custom Datatable CSS ================= */ 



.table:not(.table-dark):not(.table-light) thead:not(.thead-dark) th,

.table:not(.table-dark):not(.table-light) tfoot:not(.thead-dark) th {

background-color:  #3d5249;

color: white;

 }



 table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {

  color: white;

}



table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {

  color: white;

}



table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before {

background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 24 24\' fill=\'white\' stroke=\'%235e5873\' stroke-width=\'0\' stroke-linecap=\'round\' stroke-linejoin=\'round\' class=\'feather feather-chevron-up\'%3E%3Cpolyline points=\'18 15 12 9 6 15\'%3E%3C/polyline%3E%3C/svg%3E')

}



table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {

  background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 24 24\' fill=\'white\' stroke=\'%235e5873\' stroke-width=\'0\' stroke-linecap=\'round\' stroke-linejoin=\'round\' class=\'feather feather-chevron-down\'%3E%3Cpolyline points=\'6 9 12 15 18 9\'%3E%3C/polyline%3E%3C/svg%3E')



}



.list-group-item {

  padding: 0.3rem 0.75rem;

  border: none;

}





.select2-container--classic .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-selection--multiple .select2-selection__choice {

  background-color: #c2a966 !important;

  border-color: #c2a966  !important;

}



.select2-container--classic .select2-results__option[aria-selected='true'], .select2-container--default .select2-results__option[aria-selected='true'] {

  background-color: #dadada !important;

  color: rgb(0, 0, 0) !important;

}



.switch {

  position: relative;

  display: inline-block;

  width: 50px;

  height: 24px;

}



.switch input { 

  opacity: 0;

  width: 0;

  height: 0;

}



.slider {

  position: absolute;

  cursor: pointer;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  background-color: #ccc;

  -webkit-transition: .4s;

  transition: .4s;

}



.slider:before {

  position: absolute;

  content: "";

  height: 16px;

  width: 16px;

  left: 4px;

  bottom: 4px;

  background-color: white;

  -webkit-transition: .4s;

  transition: .4s;

}



input:checked + .slider {

  background-color: #FFCF43;

}



input:focus + .slider {

  box-shadow: 0 0 1px #FFCF43;

}



input:checked + .slider:before {

  -webkit-transform: translateX(26px);

  -ms-transform: translateX(26px);

  transform: translateX(26px);

}



/* Rounded sliders */

.slider.round {

  border-radius: 34px;

}



.slider.round:before {

  border-radius: 50%;

}





/* ============ End of Datatable CSS ================= */







/* ============ Custom Stepper for Settings Page CSS ================= */



.bs-stepper .bs-stepper-header .step.active .step-trigger .bs-stepper-box {

    background-color: #ff9f43;

    color: #fff;

}



.bs-stepper .bs-stepper-header .step.crossed .step-trigger .bs-stepper-box {

    background-color: rgba(186, 191, 199, 0.12);

    color: #babfc7 !important;

}



.bs-stepper .bs-stepper-header .step.active .step-trigger .bs-stepper-label .bs-stepper-title {

    color: #ff9f43;

}



.bs-stepper .bs-stepper-header .step.crossed .step-trigger .bs-stepper-label .bs-stepper-title {

    color: #6e6b7b;

}



a.round1 {

  border-radius: 5px;

  padding: 10px;

  margin: 5px;

  }



.border {

  border: 1px solid #151d1f;

  border-radius: 5px;

  padding: 10px;

  }



.border1 {

  color:white;

  border: 1px solid red;

  background-color: red;

  border-radius: 5px;

  padding: 10px;

  margin: 5px;

  }



.btn-schedule:focus, .btn-schedule:active, .btn-schedule.active {

color: rgb(0, 0, 0);

background-color: #dadada !important; }





.page-item.active .page-link {

  background-color: #ff9f43;

}



/* ============ End of Stepper CSS ================= */





/* ============ Custom Buttons and Dropdown to match theme CSS ================= */



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {

  background-color: #ff9f43;

}

.nav-pills .nav-link.active {

border-color: #ff9f43;

box-shadow: 0 4px 18px -4px rgba(0, 0, 0, 0.65); }





.dropdown-menu {

border-radius: 0.358rem;

transform: scale(1, 0);

box-shadow: 0 5px 25px rgba(34, 41, 47, 0.1); }





.dropdown-item:hover, .dropdown-item:focus {

background-color: rgba(255, 159, 67, 0.2);

color: #ff9f43;  }



.form-control:focus {

border-color: #dadada; }



.flatpickr-calendar .flatpickr-day.today {

  border-color: #dadada;

}



.flatpickr-calendar .flatpickr-day.selected, .flatpickr-calendar .flatpickr-day.selected:hover {

  background: #dadada;

  color: #fff;

  border-color: #dadada;

}



/* ============ End of BUtton and Dropdown CSS ================= */





/* ====== Custom Scroll for Tenant Dashboard Timeline CSS ======== */



.scroll {

  max-height: 450px;

  overflow-y: auto;

}



/* ====== End of Custom Scroll for Tenant Dashboard Timeline ======== */







/* ====== Custom Badge for Store Type CSS ======== */



.badge-restaurant {

  color: rgb(247, 209, 140);

  background-color: #0799BA; 

}



.bg-restaurant.badge-glow,

.border-restaurant.badge-glow,

.badge-restaurant.badge-glow {

box-shadow: 0px 0px 10px #73e6ff; }



.badge-cafe {

color: #fff;

background-color: #30BFBF;

}

  

.bg-cafe.badge-glow,

.border-cafe.badge-glow,

.badge-cafe.badge-glow {

box-shadow: 0px 0px 10px #7affff; 

}



.badge-beauty {

color: #fff;

background-color: #ECD711; 

}

    

.bg-beauty.badge-glow,

.border-beauty.badge-glow,

.badge-beauty.badge-glow {

box-shadow: 0px 0px 10px #fff169; }



.badge-skincare {

color: #fff;

background-color: #F19C1B; 

}

    

.bg-skincare.badge-glow,

.border-skincare.badge-glow,

.badge-skincare.badge-glow {

box-shadow: 0px 0px 10px #ffce85; }



.badge-salons {

color: #fff;

background-color: #F17D28; 

}

    

.bg-salons.badge-glow,

.border-salons.badge-glow,

.badge-salons.badge-glow {

box-shadow: 0px 0px 10px #ffad70; 

}



/* ========= End of Custom Badge CSS ============= */







/* ========= Custom Full Calendar (admin dashboard) CSS ============= */



.fc-list-event-time {

display:none;

}



.fc .fc-list-day-cushion, .fc .fc-list-table td {

  padding: 8px 30px;

}



.fc .fc-view-harness {

  min-height: 750px;

}





/* ========= End of Full Calendar CSS ============= */